$border-color: rgb(179, 179, 179);

.cart-item {
  position: relative;
  display: flex;
  height: 200px;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(209, 209, 209);
  overflow: hidden;

  &-checkbox {
    margin: 10px 20px 0 0;
  }

  &-name {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 25%;
    font-weight: bold;
  }

  &-serial {
    position: absolute;
    width: 100%;
    top: 70px;
    left: 25%;
    color: $border-color;
    font-size: 16px;
  }

  &-price {
    position: absolute;
    top: 60px;
    right: 20px;
    font-weight: bold;
  }

  &-img {
    width: 200px;
    height: 100%;
    border-radius: 20px;
  }

  .cart-count-button {
    position: absolute;
    top: 20%;
    right: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8%;
    height: 30px;
    border: 1px solid $border-color;
    border-radius: 10px;
    text-align: center;

    > button {
      font-size: 20px;
    }

    :first-child {
      width: 20%;
      border-right: 1px solid $border-color;
    }

    :last-child {
      width: 20%;
      border-left: 1px solid $border-color;
    }
  }

  &-delete {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
  }
}
